{% extends 'main.html' %}
{% load static %}
{% block content %}


    <ul style="background-color: lightseagreen; font-size:  x-large; color: white">
      <li style="display: inline; margin: 10px"><a style="color: white" href="{% url 'store' %}">ALL Category</a>
      <li style="display: inline; margin: 10px"><a style="color: white" href="#">Select Category</a>
    </ul>

    <div class="row">
        {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{ product.image }}" style="object-fit: contain;">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>

                    <button class="btn btn-outline-secondary add-btn">Add to Cart</button>
                    <a class="btn btn-outline-success" href="#">View</a>
                    <h4 style="display: inline-block; float: right; "><strong>BGN {{ product.price }}</strong></h4>

                </div>
            </div>

        {% endfor %}


    </div>



{% endblock %}





