<style>
    .item-column{
        margin: 10px;
        background-color: lightskyblue;
        border: black;
        border-width: 1px;
        border-style: solid;
    }
    #item-container{
        display: flex;
        flex-direction: row;
        margin: 1px 10px;
        border: black;
        border-width: 1px;
        border-style: solid;
        background-color: yellow;
        font-weight: bolder;
        flex-wrap: nowrap;
    }
</style>

<h3 xmlns="http://www.w3.org/1999/html">Hello {{ customer_name }}</h3>
You make purchase from our web store!

        <h3>Order Summary</h3>
        <hr>

            {% for item in items %}

                <div id="item-container">
                    <div style="flex: 2" class="item-column">
                        <img src="{{ item.product.image.url }}">
                    </div>
                    <div style="flex: 2" class="item-column">
                        <p>{{ item.product.name }}</p>
                    </div>
                    <div style="flex: 1" class="item-column">
                        <p>BGN&nbsp;&nbsp;{{ item.product.price|floatformat:2 }}</p>
                    </div>
                    <div style="flex: 1" class="item-column">
                        <p>x{{ item.quantity }}</p>
                    </div>
                </div>

            {% endfor %}

        <h5>Items: <strong>{{ items|length }}</strong></h5>
        <h5>Total: <strong>BGN {{ order.total_order_price|floatformat:2 }}</strong></h5>


